*{
    /* border: 1px solid red; */
    
}

body{
    background-color: #ebaca2;    
}

header{
    width: 80%;
    margin: 10px auto 10px auto;
    padding-left: auto;
}

nav{
    position: sticky;
    margin-top: 0;
}
/* Start of header style */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212e53 ;
    width: 100%;
    height: 150px;
    font-size: 2rem;
    font-style: italic;
    background-image: url('/img/logo-background.png'); 
    background-size: cover;
    }

.nav-bar{
    
    
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #212e53 ;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
    background-color: #ebaca2 ;
    color: #4a919e ;
}



li{
    width: 20%;
    text-align: center;
    }

a{
    text-decoration: none;
}

.nav-buttons:hover{
    background-color: #bed3c3;
    color: #ce6a6b
}

.nav-buttons:active{
    color: red ;
}

.nav-buttons:visited{
    color: green;
}

/* end of header style */

.separadores{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* start of section - servicios style */

#nail4{
    border-radius: 15px;
}


.section{
    display: flex;
    width: 80%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    border: 1px solid #212e53;
    background-color: #bed3c3;
    opacity: 0.7;
    color: black;
}

.contenedor{
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.separadores{
    background-color: #ebaca2;
    width: 80%;
    padding-top: ;
    margin:auto;
    border-radius: 10px;
}

div h3{
font-size: 1.4rem;
font-style: italic;
color:blueviolet;

}

hr{
    margin-top: 0;
    padding: 0;
    line-height: 7px;
    color: gold;
}

.redes{
    width: 100%;
    margin: auto;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.iconos-redes{
    display: flex;
    justify-content: space-evenly;
}
